/*
 * Carousel.css
 *
 * Define CSS styles for the carousel, page indicator, and overlay.
 * Instead of adding this as a separate file, the Makefile minifies this CSS
 * and inlines it in Carousel.js to be added directly to head as a <style> tag.
 */

.Carousel.wrapper {
    position: relative;
    overflow: hidden;
}

.Carousel > .scroller > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.Carousel >.scroller > ul > li {
    position: relative;
    display: block;
    float: left;
    clear: none;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;
}

.PageIndicator {
    position: absolute;
    width: 100%;
    height: 30px;
    bottom: 0;
    background: #000;
    opacity: 0.6;
}

.PageIndicator ul {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    padding-top: 5px;
}

.PageIndicator li {
    display: inline-block;
    width: 8px;
    height: 8px;
    min-height: 8px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #555;
    margin-right: 4px;
}

.PageIndicator li.active {
    background: #fff;
}

.PageIndicator li:last-child {
    margin: 0;
}

.Carousel .OverlayContainer {
    position: absolute;
    text-align: center;
    left: 0;
    top: 50%;
    height: 40px;
    margin-top: -20px !important;
    z-index: 100;
}

.Carousel .Overlay {
    display: inline-block;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    -webkit-border-radius: 10px;
}
